/* * Root */
:root {
  --green: #49fc05;
  --white: #f5f5f5;
  --gray: #cdcccc;
  --black: #121212;
}

/* * Welcome Section */
.welcome-section .welcome-title {
  font-size: 56px;
  max-width: 1300px;
  padding: 75px;
  background-image: linear-gradient(270deg, #3ee5ec 0%, #ee74e1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* * Actions */

.actions-section {
  display: flex;
  justify-content: space-between;
  gap: 40;
}

.actions-section .info {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.actions-section .info h1 {
  font-size: 35px;
}

.actions-section .info p {
  line-height: 1.8;
  font-size: 16px;
  color: var(--gray);
}

.actions-section .cards {
  display: flex;
  gap: 50px;
}

.actions-section .cards .card {
  background-color: #323443;
  min-width: 200px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  align-items: center;
  padding: 30px 20px;
  border-radius: 10px;
  position: relative;
}

.actions-section .cards .card img {
  width: 50px;
  position: absolute;
  top: -50px;
}
